{% extends "layout.html" %}

{% block title %}
    Principal
{% endblock %}

{% block header %}
    <!--navbar por bootstrap-->
    <nav class="navbar bg-light navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">
                        <!--verificar se o usuario está em uma empresa e retornar os dados ou um link para criar a empresa-->
                        {% if user.funcionario.empresa %}
                            Empresa
                        {% else %}
                            Criar empresa
                        {% endif %}
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#">Funcionarios</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="/admin">admin</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="accounts/logout">Log Out</a>
                  </li>
            </ul>
        </div>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <h1>{{ user.funcionario.nome }} {{ user.funcionario.sobrenome }}</h1>
{% endblock %}