{% extends "layout.html" %}

{% block title %}
    Principal
{% endblock %}

{% block header %}
    <!--navbar por bootstrap-->
    <nav class="navbar bg-light navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
        <a class="navbar-brand" href="/">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="#">Empresas</a>
            <a class="nav-link" href="/accounts/logout">Documentos</a>
            <a class="nav-link" href="/admin">funcionários</a>
            </div>
        </div>
        </div>
    </nav>
{% endblock %}

{% block main %}
    <h1>AAAAAAAAAAAAAAA</h1>
{% endblock %}